<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1596032355-ms8bl563eggc2ra3jucfm02qc1hob2eq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1596032355-ms8bl563eggc2ra3jucfm02qc1hob2eq</string>
	<key>API_KEY</key>
	<string>AIzaSyDFG9Iimu5nhc7grwea4fe3x9qz9JnS2p4</string>
	<key>GCM_SENDER_ID</key>
	<string>1596032355</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>choijunyeong.Project-Helper</string>
	<key>PROJECT_ID</key>
	<string>project-helper-426b0</string>
	<key>STORAGE_BUCKET</key>
	<string>project-helper-426b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1596032355:ios:d028e413904a51c2c3ff56</string>
</dict>
</plist>